.header{
  background-color: rgb(16, 16, 99);
  height: 60px;
  color: white;
  padding: 10px 20px;
}
tr{
  /* background-color: lightgrey; */
  margin: 20px;
}
tr:hover{
  background: lightblue;
}

.up-arrow-icon{
  height: 15px;
}
.down-arrow-icon{
  height: 18px;
}
.table-container{
  width: 100%;
  overflow: hidden;
  overflow-x: auto;

}